<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TelegaToken" value="your_token"/>
    <add key="WeatherToken" value="your_token"/>
    <add key="OpenWeatherMapToken" value="your_token"/>
    <add key="UseWeatherApi" value="OpenWeatherMapToken"/>
    <add key="Localization" value="ru"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>